* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-white);
  color: var(--secondary-700);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
