.footer {
  font-size: 1rem;
  white-space: nowrap;
  color: #9ca3af;
  background-color: var(--secondary-900);
}

.footer_inner {
  width: 100%;
  padding: 32px 32px 108px 32px;

  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "links . sns"
    "copyright . .";
  grid-template-columns: auto 1fr auto;
}

.footer_content {
  display: flex;
}

.footer_content--copyright {
  grid-area: copyright;
  align-items: flex-end;
}

.footer_content--links {
  grid-area: links;
  margin-right: -30px;
  gap: 30px;
  font-weight: 400;
  color: var(--secondary-200);
}

.footer_content--sns {
  grid-area: sns;
  list-style: none;
  gap: 12px;
}

/* Tablet*/
@media (min-width: 768px) {
  .footer_inner {
    padding: 32px 104px 108px 104px;
    grid-template-areas: "copyright links sns";
    grid-template-columns: auto 1fr auto;
  }

  .footer_content--links {
    justify-self: center;
  }
  .footer_content--sns {
    justify-self: center;
  }
}

/* PC*/
@media (min-width: 1200px) {
  .footer_inner {
    padding: 32px 200px 108px 200px;
  }
}
