header {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--bg-white);
  border-bottom: 1px solid #defefe;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 9px;
}

.header_logo img:first-child {
  display: none;
}

.logo img {
  vertical-align: bottom;
}

.without_header {
  margin-top: 70px;
}

/* Tablet*/
@media (min-width: 768px) {
  .header {
    padding: 0 24px;
  }

  .header_logo img:first-child {
    display: inline;
  }
}

/* PC*/
@media (min-width: 1200px) {
  .header {
    padding: 0 200px;
  }

  .header_logo img:first-child {
    display: inline;
  }
}
